
  @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400;500;600;700;800&display=swap');

body{
     background:url(./190910120101-04-shopping-cities-photos.jpg);
     height: 100vh;
     
    
     background-repeat: no-repeat;
     background-size:100% 100%;
     background-position:center ;
     position: relative;
}
button,
.text>span{
    font-family: 'Playpen Sans', cursive;
    font-size: 4.5rem;
    font-weight:800;
    text-transform: uppercase;
    animation: glow 3s ease-in-out infinite;
    animation-delay:var(--dalay);
}
@keyframes glow {
    0%,
    100%{
        color: var(--color);
        text-shadow: 0 0 10px #0652dd, 0 0 50px #0652dd,
        0 0 100px #0652dd;
    }
    10%,
    90%{
        color: #111;
        text-decoration: none;
    }

   
}
.text{
    display: flex;
    justify-content: center;
}
button{

    display: flex;
    justify-content: center;
    height:40px;
    width: 70px;
   
    border-radius: 10%;
    font-weight: 600;
    font-size: 25px;
    background-color:rgba(128, 128, 128, 0);
    cursor: pointer;
    border: 1px solid #fff;
    display: flex;
   

}
button:hover{
    background-color: gray;
}
.btn{
    display: flex;
    justify-content: center;
   
}
.min{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
a{
    text-decoration: none;
}

